# core {{{
[core]
editor = /opt/homebrew/bin/vim
excludesFile = ~/.gitignore_global

#}}}
# user {{{
[user]
name = Philip M. Gollucci
email = pgollucci@p6m7g8.com
signingkey = 0xF699A450D21D2752

#}}}
# color {{{
[color]
diff = auto
status = auto
branch = auto
interactive = auto
ui = auto

[color "branch"]
current = red reverse
local = cyan
remote = green

[color "diff"]
meta = yellow
frag = magenta
old = red bold
new = green
plain = white

[color "status"]
added = yellow
changed = green
untracked = cyan

# }}}
# push/pull/diff/options {{{
[push]
default = current
[pull]
default = current
[diff]
mnemonicprefix = true
[branch]
autosetuprebase = always
[apply]
whitespace = nowarn

#}}}
# alias {{{
# }}}
[rerere]
enabled = true
[rebase]
autosquash = true

[remote "origin"]
fetch = +refs/pull/*/head:refs/remotes/origin/pr/*

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[interactive]
diffFilter = delta --color-only

[delta]
features = side-by-side line-numbers decorations
whitespace-error-style = 22 reverse

[delta "decorations"]
commit-decoration-style = bold yellow box ul
file-style = bold yellow ul
file-decoration-style = none

[init]
defaultBranch = main

[credential "https://github.com"]
helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
helper = !/opt/homebrew/bin/gh auth git-credential
[commit]
	gpgSign = true
[tag]
	gpgSign = true
